
.grid-container {
    display: grid;
    grid-template-areas:    "header"
                            "form"
                            "result";
    grid-template-rows: 200px 450px 100px;
}

.header {
    grid-area: header;
    text-align: center;
    margin-top: 40px;
   
}

.main {
    grid-area: form;
}

:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 210, 127, 0.897);
}


.footer {
    grid-area: footer;
    text-align: center;
    
}

.login-form {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 600px;
    max-width: 90%;
    background-color: #fff;
    display: grid;
    grid: auto /1fr 1fr;
    column-gap: 1rem;
    row-gap: 2rem;
    padding: 2rem;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, .15);
    font-size: 1.125rem;
    border-radius: 1.5rem; /*revisar*/

}

.enviar {
    grid-column: span 2;
}

.texto {
    grid-column: span 2;
    font-weight: 600;
}

.result__error {
    grid-area: result;
    text-align: center;
    font-size: 1.1rem;
    color: rgb(214, 70, 70);
    font-weight: 600;
}


@media screen and (max-width: 480px) {

    .header {
       font-size: 1.1rem;
       text-align: center;
       margin-top: 40px;
        
    }

    .grid-container {
        width: auto;
        grid-template-rows: 80px 680px 100px;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        font-size: 0.85rem;
        max-width: 70%;
        min-width: 310px;
        align-items: center;
        text-align: justify;
       /* margin-top: 30px;*/
    }



    .result__error {
        text-align: center; 
        margin-top: 10px;  
        margin-bottom: 100px;  
        font-size: .9rem;  
    }
}

@media screen and (max-width: 380px) {

    .login-form {
        margin-top: 120px;
        
    }

    .result__error {
        text-align: center; 
        margin-top: 60px;  
        font-size: .9rem;  
    }

  /*  .footer {
        margin-top: 40px;
        margin-bottom: 0px;
    }*/
}