/*body {
    background-color: white;
}*/

:root {
    --primary-color: #4a47a3;
    --text-color: #2a2b2c;
    --secondary-color: #c9c8e3b7;
}

body {
    padding: 0;
    margin: 0;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}


.header {
    margin: 30px 0 0 17px;
    display: flex;
    background-color: white;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, .15);
    border-radius: 1.5rem;
    /*revisar*/
    max-width: 90%;
    max-height: 65px;
    padding: 0;

}

.logo-menu {
    margin-top: 10px
}

.logo-menu-img {
    width: 47px;
    margin-top: 4px;

}


.menu > h1 {
    margin-top: 13px;
}

h1 {
    font-size: 30px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, .15);
    border-radius: 1.5rem;
    /*revisar*/
    max-width: 90%;
    margin: 18px 0 15px 17px;
    flex-direction: column;
  
    
}

.contenedor-mapa {
    width: 85%;
}

#map {
    margin: 8px 0 50px 0;
    display: flex;
    height: 250px;
    width: 100%;
    border-radius: 20px;
}

.localizaciones {
    margin-top: 25px;
    font-size: 1.2rem;
    width: 100%;
}

.contenedor-tiempo {
    margin: 30px 0 0px 0;
    text-align: center;
    display: grid;
    grid-template-areas: "caja1 caja2";
    grid-template-columns: 1fr 1fr;
    justify-items: start;

    height: 200px;
    width: 85%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    /*background-color: #dadaef8e;*/
    background: linear-gradient(to bottom right, #e9e1f3, #E6F0FF);
    border-radius: 20px;

}


h2 {
    font-size: 1.1rem;
}

#caja1 {
    grid-area: caja1;
}

#caja2 {
    grid-area: caja2;
}

/*
#caja1, #caja2 > h2 {
    color: var(--primary-color);
}*/

.utiles-consejos-bar {
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
    justify-content: space-evenly;
    margin-bottom: 0px;

}

.contenedor-consejos > hr {
    color: #5b59a49a;
    margin: 0 45px 0 45px;

}

.opciones-utiles-consejos {
    margin: 10px 40px 30px 40px;
}

.opciones-utiles-consejos > ul li {
    list-style: none;
    padding-bottom: 12px;
    list-style-image: url(https://systemuicons.com/images/icons/check.svg);
    text-align: justify;

}


.utiles-consejos-bar>h2:active /* en chrome hover funciona bien y en firefox no, hay que usar active*/ {
    border-style: none none solid none;
    border-color: var(--primary-color);
 
}

.menu-bar {
    display: none;
}

.menu-bar ul li {
    
    list-style: none;
    font-size: 1.3rem;
    margin-left: 25px;
    padding: 10px;
  
}

.menu-bar ul {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.932);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, .15);
    border-radius: 1.5rem;
    width: 70%;
    margin: 6px 0 0 20px;

}

.menu-bar  .menu-user {
    margin: 15px 0 0px 10px;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.8rem;
    
}

.menu-bar ul li:hover {
    font-weight: 600;
   
}

/* ESCRITORIOOOO*/



/*PÃGINA REGISTRO DE GATOS*/

.menu-registro-gatos > h1 {
    margin-top: 18px;
    font-size: 27px;
}

.descripcion > h2 {
    padding: 5px;
    font-size: 1.25rem;
    color: var(--primary-color);
}

.descripcion {
    text-align: justify;
    padding: 5px;
    margin: 30px 35px 5px 35px;
    border-color: solid 1px var(--primary-color);
}


#carouselExampleCaptions {
    width: 83%;
    margin-top: 5px;
    
}

.carousel-inner img {
    border-radius: 20px;
}

.descripcion-caja-color {
    background: linear-gradient(to bottom right, #e9e1f3, #E6F0FF);
    border-radius: 20px;
    padding: 20px;
}

.add-cats {
    margin: 30px 0 40px 0;
    width: 85%;
}


.estilo-acordeon {
    padding: 15px;
    border: solid 3px #4a47a36b/*#6866ae96*/;
    background-color: #ebe8f16d;
    border-radius: 20px;
    font-size: 1.2rem;
}

.formRegisterCat {
    display: flex;
    flex-direction: column;
}

.formRegisterCat > input, .select-options{
    border: solid 3px #4a47a32f;
    border-radius: 8px;
    width: 75%;
    margin-bottom: 15px;
}

.contenedor-boton-submit {
    display: flex;
    justify-content: flex-end
}

.submit-button {
    padding: 10px;
    background-color: #4a47a35f;
    color: #ffffffee;
    width: 50%;
    display: block;
    border-radius: 30px;
    font-size: 1.2rem;
    margin-top: 15px;
    
}

.puntos-acordeon {
    width: 90%;
}

.estilo-acordeon {
    text-align: start;
    
}