
/*ESCRITORIO*/
.grid-container {
    display: grid;
    grid-template-areas:    "header"
                            "form"
                            "result"
                       ;
    grid-template-rows: 200px 400px 20px ;
    align-items: start;
                           
}

.header {
    grid-area: header;
    margin-top: 100px;
    text-align: center;
}


:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 210, 127, 0.897);
}


.login-form {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 600px;
    max-width: 90%;
    background-color: #fff;
    display: grid;
    grid: auto /1fr 1fr;
    column-gap: 1rem;
    row-gap: 2rem;
    padding: 3rem;
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, .15);
    font-size: 1.125rem;
    border-radius: 1.5rem; /*revisar*/
    grid-area: form;

}

.enviar {
    grid-column: span 1;
}

.registro {
    grid-column: span 2;
}

.result__error {
    grid-area: result;
    text-align: center;
    font-size: 1.1rem;
    color: rgb(214, 70, 70);
    font-weight: 600;
}

/*MÓVIL*/
@media screen and (max-width: 480px) {

    .header {
       font-size: 1rem;
       margin-top: 120px;
    }

    .grid-container {
        width: auto;
        grid-template-rows: 150px 470px 100px; 
        align-items: start;
        grid-template-columns: 100%;
    }

    .login-form {
        min-width: 87%;
        height: 52%;
        transform: none;
        top:23%;
        left: 5%;
    }

    .result__error {
        text-align: center; 
        margin-top: 50px;
       
    }
}